---
layout: layouts/base.njk
title: Blog
description: Technical articles and insights on software engineering
permalink: /blog/
---

<h1 class="text-4xl md:text-5xl font-black mb-8">Blog</h1>

{# Content coming in Epic 2 #}
<p class="text-lg">Coming soon...</p>
