---
layout: layouts/base.njk
title: Contact
description: Get in touch with Jay Singh
permalink: /contact/
---

<h1 class="text-4xl md:text-5xl font-black mb-8">Contact</h1>

{# Content coming in Epic 4 #}
<p class="text-lg">Coming soon...</p>
