---
layout: layouts/base.njk
title: Projects
description: Portfolio of software engineering projects and case studies
permalink: /projects/
---

<h1 class="text-4xl md:text-5xl font-black mb-8">Projects</h1>

{# Content coming in Epic 3 #}
<p class="text-lg">Coming soon...</p>
